<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/index.css" />
    <link rel="icon" href="/public/image/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/public/JS/sharesns.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <title>SEMICOLON</title>
  </head>

  <body>
    <header>
      <a href="/">
        <img class="logo" src="/public/image/logo.png" alt="헤더로고"/></a>
    </header>

    <!-- section1 -->
    <section class="wrapper">
      <div class="main-title">
        <img src="/public/image/title.png" alt="타이틀" />
      </div>
      <div>
        <img
          src="/public/image/octocat.png"
          alt="메인캐릭터"
          class="octocat"
        />
      </div>
      <button onclick="startTest()" class="main-btn">능력고사 시작하기</button>
    </section>

    <!-- section2 -->
    <section class="cont-area">
        <ul>
          <li>
            <div class="box">
              <span class="label">응시자</span>
              <span class="value"><%=totalApplicants %>명</span>
            </div>
            <div class="box">
              <span class="label">응시자 평균 점수</span>
              <span class="value"><%=averageScore%>점</span>
            </div>
            <div class="box">
              <span class="label">만점자</span>
              <span class="value"><%=perfectScoreApplicants %>명</span>
            </div>
          </li>
        </ul>
    </section>

    <!-- section3 -->
    <section class="sesac">
      <div class="sesac-container">
        <img src="/public/image/sesac-logo.png" alt="새싹 로고" />
        <p>꿈꾸는 개발자 데뷔코스, 새싹</p>
        <a
          href="https://sesac.seoul.kr/common/greeting.do"
          class="sesac-link-button"
          >홈페이지</a>
      </div>
    </section>

    <!-- section4 -->
    <section class="comment-section">
      <p class="honor">명예의 전당</p>
      <% for (let i = 0; i < totalComment.length; i++) { %>
        <div class="comment-box">
          <img src="/public/image/grade1.png" alt="프로필사진" class="profile"/>
          <p class="name"><%= totalComment[i].username %></p>
          <div class="comment"><%= totalComment[i].comment %></div>
        </div>
      <% } %>

    <!-- float-box -->
    <div class="float-box" onclick="toggleSnsList()">
      <ul class="sns-list">
        <li>
          <a
            id="btnTwitter"
            class="link-icon twitter"
            href="javascript:shareTwitter();"
            >트위터</a
          >
        </li>
        <li>
          <a
            id="btnFacebook"
            class="link-icon facebook"
            href="javascript:shareFacebook();"
            >페이스북</a
          >
        </li>
        <li>
          <a
            id="btnKakao"
            class="link-icon kakao"
            href="javascript:shareKakao();"
            >카카오톡</a
          >
        </li>
        <li>
          <button type="button" class="copy-btn" onclick="clip()">
            URL
          </button>
        </li>
      </ul>
      <p>IT-TEST 소문내기</p>
    </div>

    <footer>
      <span>COPYRIGHT(C) UNIVTOMORROWA.ALL RIGHTS RESERVED.</span>
    </footer>

    <script>
      function startTest() {
        console.log("click");
        location.href = "/test2023";
      }
    </script>
  </body>
</html>