<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- axios -->
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/result.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <% if(data.perfect){ %>
    <div class="form-wrapper">
      <form class="comment-form" name="userComment">
        <p>만점 소감을 남겨주세요!</p>
        <div>
          <label for="userName">이름</label
          ><input type="text" name="userName" id="userName" />
        </div>
        <div>
          <label for="comment">소감</label
          ><input type="text" name="comment" id="comment" />
        </div>
        <button type="button" onclick="commentSubmit()">작성 완료</button>
      </form>
    </div>
    <div class="form-bg"></div>
    <% } %>

    <header>
      <a href="/"
        ><img class="logo" src="../public/image/logo.svg" alt="logo"
      /></a>
    </header>
    <section class="section01">
      <div>
        <img
          class="main-title"
          src="../public/image/maintitle.png"
          alt="title"
        />
        <img class="sub-title" src="../public/image/subtitle.png" alt="title" />
      </div>
      <img
        class="main-octocat"
        src="../public/image/main-octocat-.png"
        alt=""
      />
    </section>

    <section class="wrapper">
      <div class="score">
        <h1>당신의 IT 능력 등급은?</h1>
        <p><%= data.result.grade %></p>
      </div>
      <div class="result-desc">
        <h3>"<%= data.result.gradeTitle %>"</h3>
        <p><%= data.result.desc %></p>
        <img src="<%= data.result.img %>" alt="" />
      </div>
      <section class="comment-section">
        <div>
          <p class="honor">명예의 전당</p>
          <p class="manjeom">만점자만 댓글 달수 있습니다</p>
        </div>
        <div class="comment-box">
          <% for(let i = 0; i < data.totalComment.length; i++) { %>
          <div class="nickname">
            <p class="name"><%= data.totalComment[i].username%></p>
            <div class="comment"><%= data.totalComment[i].comment%></div>
          </div>
          <%}%>
        </div>
      </section>
      <!-- <img class="pen" src="../public/img/pen.webp" /> -->
      <!-- <div class="share-alert">주소 복사 완료!</div>
      <div onclick="copyUrl()" class="share-btn">공유하기</div> -->
    </section>

    <!-- float-box -->
    <div class="float-box">
      <ul class="sns-list">
        <li>
          <a
            id="btnTwitter"
            class="link-icon twitter"
            href="javascript:shareTwitter();"
            >트위터</a
          >
        </li>
        <li>
          <a
            id="btnFacebook"
            class="link-icon facebook"
            href="javascript:shareFacebook();"
            >페이스북</a
          >
        </li>
        <li>
          <a
            id="btnKakao"
            class="link-icon kakao"
            href="javascript:shareKakao();"
            >카카오톡</a
          >
        </li>
        <li>
          <button type="button" class="copy-btn" onclick="copyUrl()">
            URL
          </button>
        </li>
      </ul>
      <p onclick="toggleSnsList()">IT-TEST 소문내기</p>
      <i></i>
      <p onclick="home()">테스트 재도전!</p>
    </div>

    <footer>
      <p>
        제작: 세미콜론 팀,<br />
        사용된 옥토캣 이미지 저작권은 모두 깃허브에게 있습니다.
      </p>
    </footer>

    <script>
      function toggleSnsList() {
        const snsList = document.querySelector(".sns-list");
        snsList.classList.toggle("show");
      }

      if ("<%= data.perfect %>" === "true") {
        window.onload = () => {
          $(".form-wrapper").css("display", "block");
          $(".form-bg").fadeIn(500);
        };
      }

      const commentSubmit = async () => {
        const forms = document.forms["userComment"];
        const userComment = {
          userName: forms.userName.value,
          comment: forms.comment.value,
        };
        await $(".form-wrapper").fadeOut(500, "swing");
        await $(".form-bg").fadeOut(500);
        setTimeout(() => {
          forms.style.visibility = "hidden";
        }, 1000);
        axios({
          method: "POST",
          url: "/comment",
          data: userComment,
        }).then((res) => {
          let newComments = res.data.data.totalComment;
          const commentsBox = document.querySelector(".comment-box");
          commentsBox.innerHTML = "";
          for (let i = 0; i < newComments.length; i++) {
            let nickname = document.createElement("div");
            nickname.setAttribute("class", "nickname");

            let name = document.createElement("p");
            name.setAttribute("class", "name");
            name.innerHTML = newComments[i].username;

            let comment = document.createElement("div");
            comment.setAttribute("class", "comment");
            comment.innerHTML = newComments[i].comment;

            nickname.appendChild(name);
            nickname.appendChild(comment);
            commentsBox.appendChild(nickname);
          }
        });
      };

      // const pen = document.querySelector(".pen");
      // window.addEventListener("mousemove", (event) => {
      //   pen.style.top = event.pageY + "px";
      //   pen.style.left = event.pageX + "px";
      // });

      // const url = window.location.href; // 현재 링크를 가져오는 코드
      const url = `http://www.localhost:8000`;
      const copyUrl = async () => {
        await navigator.clipboard.writeText(url);
        const alert = document.querySelector(".share-alert");
        $(alert).fadeIn(300, "swing");
        setTimeout(() => {
          $(alert).fadeOut(500, "swing");
        }, 400);
      };

      const home = () => {
        location.href = "/";
      };
    </script>
  </body>
</html>
