<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="정보기술 능력고사" />
    <meta
      property="og:title"
      content="나의 IT 능력은? <%= data.result.grade %>!"
    />
    <meta
      property="og:description"
      content="IT 세상에 사는 당신, IT 능력고사에 도전하세요!"
    />
    <meta property="og:image" content="<%= data.result.img %>" />
    <meta property="og:url" content="http://115.85.183.132:8000" />

    <title>SEMICOLON</title>

    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/result.css" />

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- sns-share -->
    <script src="/public/JS/sharesns.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  </head>

  <body>
    <% if(data.perfect){ %>
    <div class="form-wrapper">
      <form class="comment-form" name="userComment">
        <img src="/public/image/clapping-hands.png" alt="박수" />
        <p>만점 소감을 남겨주세요!</p>
        <div>
          <label for="userName">이름</label
          ><input
            type="text"
            name="userName"
            id="userName"
            pattern="^[a-zA-Z가-힣0-9 !?@#*]{2,20}$"
            title="2글자 이상 20자 이내로 작성해주세요."
            required
          />
        </div>
        <div>
          <label for="comment">소감</label
          ><input
            type="text"
            name="comment"
            id="comment"
            pattern="^[a-zA-Z가-힣0-9 !?@#*]{4,50}$"
            title="4글자 이상 50자 이내로 작성해주세요."
            required
          />
        </div>
        <div type="button" class="button-wrap" onclick="commentSubmit()">
          <span class="button">작성완료</span>
        </div>
      </form>
    </div>
    <div class="form-bg"></div>
    <% } %>

    <header>
      <a href="/"
        ><img class="logo" src="/public/image/logo.svg" alt="logo"
      /></a>
    </header>
    <section class="section01">
      <div>
        <img class="main-title" src="/public/image/maintitle.png" alt="title" />
        <img class="sub-title" src="/public/image/subtitle.png" alt="title" />
      </div>
      <img class="main-octocat" src="/public/image/main-octocat-.png" alt="" />
    </section>

    <section class="wrapper">
      <div class="wrapper-content">
        <div class="score">
          <h1>당신의 IT 능력 등급은?</h1>
          <p><span><%= data.result.grade %></span>&nbsp;등급</p>
        </div>
        <div class="result-desc">
          <img src="<%= data.result.img %>" alt="" />
        </div>

        <section class="comment-section banselect">
          <p class="honor">명예의 전당</p>
          <p class="sub-title">만점자만 댓글 달수 있습니다</p>
          <div class="comment-wrapper">
            <% for (let i = 0; i < data.totalComment.length; i++) { %>
            <div class="comment-box">
              <img
                src="/public/image/profile1.png"
                alt="프로필사진"
                class="profile"
              />
              <p class="name"><%= data.totalComment[i].username %></p>
              <div class="comment"><%= data.totalComment[i].comment %></div>
            </div>
            <% } %>
          </div>
        </section>
      </div>
    </section>

    <!-- float-box -->
    <div class="float-box">
      <ul class="sns-list">
        <li>
          <a
            id="btnTwitter"
            class="link-icon twitter"
            href="javascript:shareTwitter();"
            >트위터</a
          >
        </li>
        <li>
          <a
            id="btnFacebook"
            class="link-icon facebook"
            href="javascript:shareFacebook();"
            >페이스북</a
          >
        </li>
        <li>
          <a
            id="btnKakao"
            class="link-icon kakao"
            href="javascript:shareKakao();"
            >카카오톡</a
          >
        </li>
        <li>
          <button type="button" class="copy-btn" onclick="clip()">URL</button>
        </li>
      </ul>
      <p onclick="snsListAni()">IT-TEST 소문내기</p>
      <i></i>
      <p onclick="home()">테스트 재도전!</p>
    </div>

    <footer>
      <p>
        제작: 세미콜론 팀,<br />
        사용된 옥토캣 이미지 저작권은 모두 깃허브에게 있습니다.
      </p>
    </footer>

    <script>
      // 공유 아이콘 애니메이션
      function snsListAni() {
        const snsList = document.querySelector(".sns-list");
        const iconArr = document.querySelectorAll(".sns-list li");
        const iconGroup = document.querySelector(".sns-list li");
        if (snsList.style.opacity == 1) {
          snsList.style.opacity = 0;
          iconArr.forEach((el) => {
            el.style.transform = "translateY(50%)";
            el.style.scale = 0 + "%";
          });
        } else {
          snsList.style.opacity = 1;
          iconArr.forEach((el, i) => {
            const iconAni = () => {
              el.style.transform = "translateY(0)";
              el.style.scale = 100 + "%";
            };
            setTimeout(iconAni, 80 * i);
          });
        }
      }

      if ("<%= data.perfect %>" === "true") {
        const commentPop = async () => {
          await window.scrollTo({ top: 0, left: 0, behavior: "auto" });
          // window.onload = () => {
          await $(".form-wrapper").css("display", "block");
          await $(".form-bg").fadeIn(500);
          const body = document.querySelector("body");
          body.style.cssText = "overflow: hidden; touch-action: none";
          // };
        };
        commentPop();
      }

      // 만점자 코멘트 등록 및 코멘트 다시 불러오기
      const commentSubmit = async () => {
        const forms = document.forms["userComment"];
        if (!forms.checkValidity()) {
          // checkValidity 폼의 유효성 검사를 해서 boolean 값 반환
          forms.reportValidity(); // reportValidity: 유효성 검사를 통과하지 못 한 input에 대해 report
          return false;
        }
        const body = document.querySelector("body");
        body.style.cssText = "overflow: scroll";
        const userComment = {
          userName: forms.userName.value,
          comment: forms.comment.value,
        };
        await $(".form-wrapper").fadeOut(500, "swing");
        await $(".form-bg").fadeOut(500);
        setTimeout(() => {
          forms.style.visibility = "hidden";
        }, 1000);
        axios({
          method: "POST",
          url: "/comment",
          data: userComment,
        }).then((res) => {
          let newComments = res.data.data.totalComment;
          const comments = document.querySelector(".comment-wrapper");
          const userImg = document.querySelectorAll(".profile");
          comments.innerHTML = "";
          for (let i = 0; i < newComments.length; i++) {
            let commentBox = document.createElement("div");
            commentBox.setAttribute("class", "comment-box");

            console.log("userImg", userImg);
            // userImg.setAttribute("class", "profile");

            let name = document.createElement("p");
            name.setAttribute("class", "name");
            name.innerHTML = newComments[i].username;

            let comment = document.createElement("div");
            comment.setAttribute("class", "comment");
            comment.innerHTML = newComments[i].comment;

            commentBox.appendChild(userImg[i]);
            commentBox.appendChild(name);
            commentBox.appendChild(comment);
            comments.appendChild(commentBox);
          }
        });
      };

      const home = () => {
        location.href = "/";
      };
    </script>
  </body>
</html>
