<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <!-- axios -->
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/result.css" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <style></style>
  <body>
    <div class="form-wrapper">
      <form class="comment-form" name="userComment">
        <p>만점 소감을 남겨주세요!</p>
        <div>
          <label for="userName">이름</label
          ><input type="text" name="userName" id="userName" />
        </div>
        <div>
          <label for="comment">소감</label
          ><input type="text" name="comment" id="comment" />
        </div>
        <button type="button" onclick="commentSubmit()">작성 완료</button>
      </form>
    </div>
    <div class="form-bg"></div>
    <header>
      <div>
        <div class="logo">logo</div>
        <!-- <img src="" alt="" /> -->
      </div>
      <h1>2023 IT TEST</h1>
    </header>
    <section class="wrapper">
      <div class="score">
        <h1>당신의 IT 능력 등급은?</h1>
        <p><%= data.result.grade %></p>
      </div>
      <div class="result-desc">
        <h3>"<%= data.result.gradeTitle %>"</h3>
        <p><%= data.result.desc %></p>
        <img src="<%= data.result.img %>" alt="" />
        <div class="icon-group">
          <div>
            <i></i>
            <p>어울리는 인물</p>
            <p><%= %></p>
          </div>
          <div>
            <i></i>
            <p>어울리는 궁합</p>
            <p><%= %></p>
          </div>
        </div>
      </div>
      <section class="comment-section">
        <div>
          <p class="honor">명예의 전당</p>
          <p class="manjeom">만점자만 댓글 달수있음</p>
        </div>
        <div class="comment-box">
          <%= data %> <% for(let i = 0; i < data.totalComment.length; i++) { %>
          <div class="nickname">
            <p class="name"><%= data.totalComment[i].username%></p>
            <div class="comment"><%= data.totalComment[i].comment%></div>
          </div>
          <%}%>
        </div>
      </section>
      <!-- <img class="pen" src="../public/img/pen.webp" /> -->
      <div class="share-alert">주소 복사 완료!</div>
      <div onclick="copyUrl()" class="share-btn">공유하기</div>
    </section>

    <footer></footer>

    <script>
      if (false) {
        window.onload = () => {
          // 만점자일 때만 이 코드가 실행되도록
          $(".form-wrapper").css("display", "block");
          $(".form-bg").fadeIn(500);
        };
      }

      const commentSubmit = async () => {
        const forms = document.forms["userComment"];
        const userComment = {
          userName: forms.userName.value,
          comment: forms.comment.value,
        };
        await $(".form-wrapper").fadeOut(500, "swing");
        await $(".form-bg").fadeOut(500);
        await setTimeout(() => {
          forms.style.visibility = "hidden";
        }, 3000);
        axios({
          method: "post",
          url: "/comment",
          data: userComment,
        }).then();
      };

      // const pen = document.querySelector(".pen");
      // window.addEventListener("mousemove", (event) => {
      //   pen.style.top = event.pageY + "px";
      //   pen.style.left = event.pageX + "px";
      // });

      // const url = window.location.href; // 현재 링크를 가져오는 코드
      const url = `http://www.localhost:8000`;
      const copyUrl = async () => {
        await navigator.clipboard.writeText(url);
        const alert = document.querySelector(".share-alert");
        $(alert).fadeIn(300, "swing");
        setTimeout(() => {
          $(alert).fadeOut(500, "swing");
        }, 400);
      };
    </script>
  </body>
</html>
